name: Update semver tags

on:
  push:
    branches-ignore:
      - '**'
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  semver:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: haya14busa/action-update-semver@7d2c558640ea49e798d46539536190aff8c18715 # v1.5.1
